[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
celery = "*"
gunicorn = "*"
requests = "*"
httmock = "*"
python-dotenv = "*"
Cerberus = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
pylint = "*"

[dev-packages.watchdog]
git = "https://github.com/gorakhargosh/watchdog.git"
